<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de retrouvail de d objet trouve ou perdu</title>
</head>
<body>
    <div class="container-fluid banner">
        <div class="text-center mt-5">
            <h2 class="info">Retrouvez ou declarez un objet</h2>
            <div class="buttonNav">
               <div class="row">
                   <div class="col-md-4 me-3">
                       <a href="/i-have-found" class="btn btn-warning btn-lg">J ai retrouve</a>
                   </div>
                   <div class="col-md-4 me-3">
                       <a href="/i-lost" class="btn btn-danger btn-lg">J ai perdu</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>
