<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container justify-content-center mt-5">
        <p class="text-center fs-5 fw-bold">Temoignage</p>
        <div class="list-group">
            <div class="row">
                <div class=" col-sm-6 list-group">
                    <div class="shadow-lg card" style="width: 28rem;">
                        <div class="card-body">
                            <img src="../../../assets/images/tem1.jpg" class="rounded-circle" />
                          <h5 class="card-title">Medoune Fall</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">
                            <span class="badge text-bg-warning">Perdu</span>
                          </h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                </div>
                <div class="  col-sm-6 list-group">
                    <div class=" shadow-lg card" style="width: 28rem;">
                        <div class="card-body">
                            <img  src="../../../assets/images/tem2.png" class="rounded-circle" />
                          <h5 class="card-title">Amadou Ndiaye</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">
                            <span class="badge text-bg-success">Trouve</span>
                          </h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
