<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer bg-info" style="margin-top: 100px;">
      <div class="container text-center">
        <div class="row pied pt-4">
          <div class="col-sm-4">
            <ul>
              <li><a href="accueil">Accueil</a></li>
              <li><a href="accueil">Annonce</a></li>
              <li><a href="accueil">Pour les entreprises</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="accueil">Politque et confidentialite</a></li>
              <li><a href="accueil">FQA</a></li>
              
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="accueil">Contact</a></li>
              <li><a href="accueil">77785988</a></li>
              <li><a href="accueil">Adresse:Universite virtuelle du Senegal</a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
</body>
</html>