<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
  <div class=" text-center mt-5">
    <p class="fs-4 fw-bold">Vous avez perdu ou trouve un objet un objet ?
    </p>
    <p>Retrouvez ou Deposez des objets en quelques clics</p>
  </div>
    
    <div class="row m-4" style=" margin-top: 75px;overflow-x: hidden;">
        <div class=" col-sm-3 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="badge text-bg-info">1</span> Je depose une annonces en ligne
             </h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             
            </div>
          </div>
        </div>
        <div class="  col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="badge text-bg-info">2</span> Je depose une annonces en ligne
              Des correspondances automatiques sont effectuées tous les jours</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              
            </div>
          </div>
        </div>

        <div class=" col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                    <span class="badge text-bg-info">3</span> Je depose une annonces en ligne
                Je reçois un message m'alertant que mon objet a été retrouvé</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                    <span class="badge text-bg-info">4</span> Je depose une annonces en ligne
                Je suis les instructions pour récupérer mon objet</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               
              </div>
            </div>
          </div>

      </div>
    </div>
</body>
</html>