<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="container">
        <div class="mt-5">
            <p class="text-center fs-4 fw-bold">Nous contactez</p>
        </div>
        <div class="">
            <form>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control"  placeholder="Entrer votre nom">
                  </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control"  placeholder="Entrer votre prenom">
                  </div>
                  <div class="mb-3">
                    <label for="telephonee" class="form-label">Votre numero de telephone</label>
                    <input type="text" class="form-control"  placeholder="Entrer votre numero de telephone">
                  </div>

                  <input  type="submit" class="btn btn-success" value="Envoyer"/>
            </form>
        </div>
     </div>
</body>
</html>