<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plateforme de retrouvail d objet</title>
</head>
<body>
    <div>
      <app-menu></app-menu>
    </div>
     <div>
      <app-banner></app-banner>
     </div>
     <app-process-object-lost></app-process-object-lost>
     <div class="">
      <app-testimony></app-testimony>
     </div>

     <div class="">
      <app-annonces></app-annonces>
     </div>
     <div>
      <app-partners></app-partners>
     </div>
    
    <div class="">
      <app-contacts></app-contacts>
    </div>

    <div>
      <app-footer></app-footer>
    </div>
   <router-outlet></router-outlet>
</body>
</html>